@import "./../_globals";

.content {  
    @include display-flex();
    flex-flow: row nowrap;

    &__title {
        color: $accent-color;
    }

    &__courseCode {
        color: $text-color;
        margin-bottom: 20px;
    }
    #courseCode {
        width: 200px;
        height: 35px;
        border-radius: 8px;
        border: none;
    }

    &__courseName {
        color: $text-color;
        margin-bottom: 20px;
    }
    #courseName {
        width: 200px;
        height: 35px;
        border-radius: 8px;
        border: none;
    }
    
}